<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsj.orders.mybatis.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.zsj.orders.entity.OrdersEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="updated_at" property="updatedAt" jdbcType="INTEGER"/>
        <result column="created_at" property="createdAt" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="orderWithGoods" type="com.zsj.orders.entity.OrdersEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_sn" property="orderSn" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
        <result column="updated_at" property="updatedAt" jdbcType="INTEGER"/>
        <result column="created_at" property="createdAt" jdbcType="INTEGER"/>
        <collection property="goodsList" javaType="java.util.List" ofType="com.zsj.orders.entity.OrdersGoodsEntity">
            <result property="id" column="rec_id"/>
            <result property="orderId" column="order_id"/>
            <result property="goodsName" column="goods_name"/>
            <result property="goodsSn" column="goods_sn"/>
            <result property="num" column="num"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_sn, user_id, address, amount, created_at
    </sql>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT
        <include refid="Base_Column_List"/>
        FROM orders
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.zsj.orders.dto.OrderDTO" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
          orders (order_sn, user_id, amount, address, created_at)
        VALUES
          (#{orderSn}, #{userId}, #{amount}, #{address}, #{createdAt})
    </insert>
    <select id="listOrderWithGoodsByOrderSn" resultMap="orderWithGoods" parameterType="java.util.List">
        SELECT
        o.id,o.order_sn,o.user_id,o.address,o.amount,o.updated_at,o.created_at,
        og.id rec_id,og.order_id,og.goods_sn,og.goods_name,og.num
        FROM dn_order o
        LEFT JOIN dn_order_goods og ON(o.id = og.order_id)
        WHERE o.order_sn IN 
        <foreach collection="orderSnList" item="orderSn" open="(" close=")" separator=",">
            #{orderSn}
        </foreach>

        ORDER BY o.id DESC
    </select>
</mapper>